body { background: #25a8c1; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 51px; display: flex; }
.block-notify-0 { color: #d8df82; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #aee4a8; font-size: 15px; margin-bottom: 5px; }
.block-order-2 { color: #ba15a8; font-size: 14px; margin-bottom: 5px; }
.block-helper-3 { color: #602c2a; font-size: 17px; margin-bottom: 5px; }
.block-cluster-4 { color: #c9c416; font-size: 14px; margin-bottom: 5px; }